{% extends 'static/helper/macros.html.twig' %}

{% macro display_content(template, content, parameters, viewType) %}
    {{ render(controller(
        "ibexa_content:viewAction",
        content|merge({
            "viewType": viewType,
            "params": parameters ?? {}
        })
    )) }}
{% endmacro %}
{% macro display_active_filter(item) %}
    {% import _self as macros %}
    <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes|merge({'class': 'btn btn-primary '})) }}>{{ item.extras.filter }}: {{ item.label }}<span class="btn-close btn-close-white ms-3" aria-label="remove"></span></a>
{% endmacro %}
